.cart {
  width: 420px;
  height: 100%;
  padding: 2.5rem 1rem 0 1.25rem;
  position: fixed;
  top: 0;
  right: -420px;
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: .3s ease-in-out;
  z-index: 100;
  &.show {
    right: 0;
    transition: .5s ease-in-out;
  }
}
.cart-list {
  max-height: 60vh;
  overflow-y: scroll;
}
.cart-item {
  vertical-align: middle;
  .pic {
    max-width: 48px;
    height: 48px;
    border-radius: .5rem;
    overflow: hidden;
    img {
      width: auto;
      max-width: initial;
      height: 100%;
    }
  }
  .name {
    max-width: 120px;
    @apply text-sm;
  }
  .price {
    @apply font-ubu text-secondary-default font-bold mr-2;
  }
  .origin {
    @apply font-ubu text-gray-500 line-through text-sm;
  }
}
.qty {
  @apply flex justify-center items-center;
}
.q-number {
  @apply block font-ubu border-gray-300 text-sm;
  max-width: 36px;
  padding: 6px 4px;
  text-align: center;
  border-right-color: transparent;
  border-left-color: transparent;
  -moz-appearance: textfield;
  z-index: 1;
  &:focus {
    @apply ring-gray-700 border-gray-700;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.btn-minus {
  @apply relative inline-flex items-center p-1
  border border-gray-300 text-sm font-medium rounded-l-md
  text-gray-700 bg-white;
  &:hover {
    @apply bg-gray-50;
  };
  &.disabled {
    @apply text-gray-300 pointer-events-none;
  }
}
.btn-add {
  @apply relative inline-flex items-center p-1
  rounded-r-md border border-gray-300 bg-white
  text-sm font-medium text-gray-500;
  &:hover {
    @apply bg-gray-50;
  };
}
.btn-close {
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 620px) {
  .cart {
    max-width: 240px;
    padding: 1rem 1rem 0 1rem;
  }
  .cart-item {
    display: grid;
    grid-template-areas:
    "t1 t3 t3 t4"
    "t2 t2 t2 t2";
    padding: .75rem 0;
    td {
      display: block;
      &:first-of-type {
        grid-area: t1;
      }
      &:nth-of-type(2) {
        grid-area: t2;
      }
      &:nth-of-type(3) {
        grid-area: t3;
      }
      &:last-of-type {
        grid-area: t4;
        text-align: right;
      }
    }
    .pic {
      height: 34px;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .name {
      display: inline-block;
    }
    .price {
      margin-right: 0;
    }
    .origin {
      display: none;
    }
  }
}