.category-section {
  max-width: 100%;
}
.category-wrapper {
  width: 100%;
  transition: all .2s;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}
.category {
  @apply pb-8;
  li {
    display: block;
    @apply border rounded mr-4;
    .item-icon {
      width: 24px;
      height: 24px;
      margin-right: 0.5rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:first-of-type {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-all.svg");
      }
    }
    &:nth-of-type(2) {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-plant.svg");
      }
    }
    &:nth-of-type(3) {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-pots.svg");
      }
    }
    &:nth-of-type(4) {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-light.svg");
      }
    }
    &:nth-of-type(5) {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-deco.svg");
      }
    }
    &:nth-of-type(6) {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-candle.svg");
      }
    }
    &:last-of-type {
      .item-icon {
        background-image: url("~@/assets/images/icon/icon-customization.svg");
      }
    }
    &:hover {
      @apply text-primary-default bg-gray-50;
      &:first-of-type {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-all-yellow.svg");
        }
      }
      &:nth-of-type(2) {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-plant-yellow.svg");
        }
      }
      &:nth-of-type(3) {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-pots-yellow.svg");
        }
      }
      &:nth-of-type(4) {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-light-yellow.svg");
        }
      }
      &:nth-of-type(5) {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-deco-yellow.svg");
        }
      }
      &:nth-of-type(6) {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-candle-yellow.svg");
        }
      }
      &:last-of-type {
        .item-icon {
          background-image: url("~@/assets/images/icon/icon-customization-yellow.svg");
        }
      }
    }
  }
  .item {
    @apply flex justify-between items-center
      whitespace-nowrap px-3 py-2 cursor-pointer;
    img {
      margin-right: 8px;
    }
  }
}

.listbox-item {
  @apply text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9;
  &:hover {
    @apply text-white bg-indigo-600;
  }
  .flex justify-start items-center {
    @apply ml-3 block font-normal truncate;
    &:hover {
      @apply font-semibold;
    }
  }
}

@screen md {
  .category-wrapper {
    overflow: initial;
    padding: 0;
  }
  .category {
    width: 200px;
    overflow-x: hidden;
    @apply border rounded-lg pb-0;
    li {
      @apply border-none mr-0;
    }
    .item {
      @apply px-4 py-3 border-b;
    }
  }
}